ion-content {
  --background: rgb(242, 56, 158);
  --background: #424242;
}

.zero{
  width: 160px;
}


.divisor {
  height: 50vh;
  overflow: hidden;
  align-items: center;
}

.imagem{
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ion-button{
width:80px;
height:75px;
font-size:x-large;
}