ion-content {
  --background: rgb(242, 56, 158);
  --background: linear-gradient(90deg, rgb(83, 172, 207) 14%, rgb(87, 156, 236) 51%,  rgb(110, 159, 206) 89%);
}

.divisor {
  height: 50vh;
  overflow: hidden;
  align-items: center;
}

.imagem{
  background-image: url(https://images3.alphacoders.com/130/1301279.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}