<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button shape="round" click="exibir(7)">C</ion-button>
            <ion-button shape="round" click="exibir(8)">%</ion-button>
            <ion-button shape="round" click="exibir(9)"><ion-icon name="backspace-outline"></ion-icon></ion-button>
            <ion-button shape="round" click="exibir(8)">/+</ion-button>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button shape="round" click="exibir(7)">7</ion-button>
            <ion-button shape="round" click="exibir(8)">8</ion-button>
            <ion-button shape="round" click="exibir(9)">9</ion-button>
            <ion-button shape="round" click="exibir(8)">*</ion-button>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button shape="round" click="exibir(4)">4</ion-button>
            <ion-button shape="round" click="exibir(5)">5</ion-button>
            <ion-button shape="round" click="exibir(6)">6</ion-button>
            <ion-button shape="round" click="exibir(8)">-</ion-button>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button shape="round" click="exibir(1)">1</ion-button>
            <ion-button shape="round" click="exibir(2)">2</ion-button>
            <ion-button shape="round" click="exibir(3)">3</ion-button>
            <ion-button shape="round" click="exibir(8)">+</ion-button>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button shape="round" click="exibir(1)">0</ion-button>
            <ion-button shape="round" click="exibir(2)">=</ion-button>
        </ion-row>
    </ion-grid>


</ion-content>