ion-content {
  --background: rgb(242, 56, 158);
  --background: linear-gradient(90deg, rgba(242, 56, 158, 1) 14%, rgba(36, 5, 242, 1) 51%,  rgba(242, 31, 12, 1) 89%);
}

img {
  border-radius: 16px;

}

.divisor {
  height: 50vh;
  overflow: hidden;
  align-items: center;
}

.imagem{
  background-image: url(https://images3.alphacoders.com/130/1301279.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}